.respimg svg,
.respimg img {
  margin: 0;
  width: 100%;
  height: auto;
}

.respimg {
  position: relative
}

.respimg img {
  position: absolute;
  top:0;
  left:0;
}

.nojs .respimg .lazyload {
  display: none;
}

.half {
    width: 50%;
}
figure.right {
    float: right;
}

